    /* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* general */
.box{
    background-color: #006cfa;
    border: 1px solid white;
    color: white;
    padding: 10px;
    text-align: center;
    min-height: 50px;
}
.dim{
    min-height: 100px;
}
.align-self-center{
    align-self: center;
}
.align-self-end{
    align-self: end;
}
.green{
    background-color: #00e165;
}
.around{
    justify-content: space-around;
}

.beetween{
    justify-content: space-between;
}